<!DOCTYPE html>
<html>
<head>
	<title>VitalMed - Contacto</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>
<body class="col">
	<header>
		<a href="./Home.html" class="logo" ><img src="./img/logo.png"></a>
		<ul class="nolist">
			<li><a href="./Home.html">Inicio</a></li>
			<li><a href="./QuienesSomos.html">Quienes Somos</a></li>
			<li><a href="./Descubre.html">Descubre</a></li>
			<li><a href="./Contacto.html">Contacto</a></li>
		</ul>
	</header>
	<div class="container f-between">
		<div class="row">
			<div class="row ">
				<div class="card blue-theme col f-left nmargin side">
					<h3>VitalMed es</h3>
					<h1>GRATIS</h1>
					<div class="col">
						<div class="overBox">
							<p>&iquest;A&uacute;n no tienes una cuenta&quest;</p>
							<input type="button" name="SignIn" value="Registrate aqu&iacute;" onclick="window.location.href = './SignIn.html'">
						</div>
						<div class="col">
							<div>
								<p>&iquest;Ya tienes una cuenta&quest;</p>
								<input type="button" name="login" value="Inicia sesi&oacute;n" onclick="window.location.href = './Login.html'">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card col nmargin">
				<div class="card t-left">
					<h2>Redes sociales:</h2>
					<div class="col">
						<div class="row">
							<img src="./img/icons/fbicon.png">
							<p>Facebook</p>
							<b>VitalMedApp</b>
						</div>

						<div class="row">
							<img src="./img/icons/twicon.png">
							<p>Tweeter</p>
							<b>@VitalMedOficial</b>
						</div>
					</div>
					<h2>Redes sociales:</h2>
					<div class="col">
						<div class="row">
							<img src="./img/icons/telicon.png">
							<p>Tel&eacute;fono</p>
							<b>(+52 - 81) 1948 - 6763</b>
						</div>
					</div>
					<h2>Redes sociales:</h2>
					<div class="col">
						<div class="row">
							<img src="./img/icons/mailicon.png">
							<p>Correo Electr&oacute;nico</p>
							<b>vitalmed@outlook.es</b>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<footer>
		<ul class="nolist f-center">
			<li><a href="#">Aviso de Terminos y Condiciones</a></li>
			<li><a href="#">Tel&eacute;fono: (+52 -81) 1948 - 6763</a></li>
			<li><a href="#">Correo electr&oacute;nico: vitalmed@outlook.es</a></li>
			<li><a href="#">VitalMed es creado por Alcance M&eacute;dico S.A de C.V</a></li>
		</ul>
	</footer>
</body>
</html>