<!DOCTYPE html>
<html>
<head>
  <title>VitalMed - Descubre</title>
    <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!--jQuery-->
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/static/js/script.js"></script>

  <!--CARROUSEL->
    <link rel="stylesheet" type="text/css" href="/static/libs/jCarousel/style.css"-->
    <link rel="stylesheet" type="text/css" href="/static/libs/jCarousel/jcarousel.basic.css">
    <script type="text/javascript" src="/static/libs/jCarousel/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/static/libs/jCarousel/jcarousel.basic.js"></script>

    <!--Calendario-->
  <script type="text/javascript" src="/static/Calendario/calendar.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/Calendario/calendar.css">

  <!--CHART-->
  <script type="text/javascript" src="/static/js/jquery.canvasjs.min.js"></script>

</head>

<body class="col">
  <header class="dash">
    <a href="./Home.html" class="logo" ><img src="/static/img/logo.png"><span class="tag">VitalMed</span></a>
    <ul class="nolist">
      <li><a href="./Dashboard.html">Dashboard</a></li>
      <li><a href="./VerCitas.html">Programar Citas</a></li>
      <li><a href="./Configuracion.html">Configuraci&oacute;n</a></li>
      <li><a href="./Home.html">Cerrar Sesi&oacute;n</a></li>

      <li><a href="./Home.html">Ayuda</a></li>
    </ul>
  </header>
  <div class="container f-between">
    <div class="row fill">
      <div class="row ">
        <div class="card dash-theme col f-between nmargin side">
          <div class="col">
              <!--RECORDATORIOS-->
              <div class="overBox">
                <p>Recordatorios</p>
                <div class="row f-even">
                  <a href="./Recordatorios.html"><img src="/static/img/icons/verRecordatorio.png"></a>
                  <a href="./NuevaCita.html"><img src="/static/img/icons/agregarRecordatorio.png"></a>
                </div>
              </div>
              <!--CITAS-->
              <div class="overBox">
                <p>Citas</p>
                <div class="row f-even">
                  <a href="./VerCitas.html"><img src="/static/img/icons/agregarRecordatorio.png"></a>
                </div>
            </div>
            <!--DASHBOARD-->
            <div class="overBox">
              <p>Volver al dashboard</p>
              <div class="row f-even">
                <a href="./Dashboard.html"><img src="/static/img/icons/verRecordatorio.png"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row f-even fill card  r-margin">
        <div class="col fill">
          <div id="chartContainer"></div>
          <!--CITAS PENDIENTES-->
          <div class="receta row f-left">
            <div class="wrapper">
                  <div class="jcarousel-wrapper">
                    <h3>Citas pendientes</h3>
                      <div class="jcarousel">
                          <ul id="citasHolder">

                          </ul>
                      </div>
                      <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                      <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                      <p class="jcarousel-pagination">
                      </p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="dash">
    <ul class="nolist f-left">
      <li><a href="#">Tel&eacute;fono: (+52 -81) 1948 - 6763</a></li>
      <li><a href="#">Correo electr&oacute;nico: vitalmed@outlook.es</a></li>
    </ul>
  </footer>
</body>
</html>
