<!DOCTYPE html>
<html>
<head>
	<title>VitalMed - Descubre</title>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<!--jQuery-->
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>

	<!--CARROUSEL->
    <link rel="stylesheet" type="text/css" href="/static/libs/jCarousel/style.css"-->
    <link rel="stylesheet" type="text/css" href="/static/libs/jCarousel/jcarousel.basic.css">
    <script type="text/javascript" src="/static/libs/jCarousel/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/static/libs/jCarousel/jcarousel.basic.js"></script>
</head>
<body class="col">
	<header>
    <a href="/" class="logo" ><img src="/static/img/Logo.png"></a>
    <ul class="nolist">
      <li><a href="/">Inicio</a></li>
      <li><a href="/quienes-somos">Quienes Somos</a></li>
      <li><a href="/descubre">Descubre</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </header>
	<div class="container f-between">
		<div class="row">
			<div class="row ">
				<div class="card blue-theme col f-left nmargin side">
					<h3>VitalMed es</h3>
					<h1>GRATIS</h1>
					<div class="col">
						<div class="overBox">
							<p>&iquest;A&uacute;n no tienes una cuenta&quest;</p>
							<input type="button" name="SignIn" value="Registrate aqu&iacute;" onclick="window.location.href = '/signin'">
						</div>
						<div class="col">
							<div>
								<p>&iquest;Ya tienes una cuenta&quest;</p>
								<input type="button" name="login" value="Inicia sesi&oacute;n" onclick="window.location.href = '/Login'">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card col nmargin">

				<div class="card t-left ">
							<h3 class="f-center">&iquest;C&oacute;mo funciona VitalMed&quest;</h3>
							<div class="wrapper">
					            <div class="jcarousel-wrapper">
									<iframe src="https://www.youtube.com/embed/ZJXA9UkN-uk?rel=0&iv_load_policy=3&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					            </div>
							</div>

							<h3>Departamentos</h3>
					<div class="row">
						<ul>
							<li>Departamentos</li>
							<li>Oftalmología</li>
							<li>Traumatología</li>
							<li>Ginecología</li>
							<li>Psicología</li>
							<li>Psiquiatría</li>
						</ul>
						<ul>
							<li>Urología</li>
							<li>Proctología</li>
							<li>Pediatría</li>
							<li>Geriatría</li>
							<li>Hematología</li>
							<li>Gastroenterología</li>
						</ul>
						<ul>
							<li>Cardiología</li>
							<li>Oncología</li>
							<li>Nutriología</li>
							<li>Radiología</li>
							<li>Cirugía</li>
						</ul>
						<ul>
							<li>Alergología</li>
							<li>Otorrinolaringología</li>
							<li>Nefrología</li>
							<li>Neurología</li>
							<li>Patología</li>
							<li>Podología</li>
						</ul>
					</div>
					<h3>Direct&oacute;rio M&eacute;dico</h3>
					<div class="row">
						<ul>
							<li>Perla Cecilia Jiménez Sánchez	</li>
							<li>Mónica Cruz Puga				</li>
							<li>Martin Sandoval López			</li>
							<li>Jorge David Sosa Méndez			</li>
							<li>Nicolás Flores Ruiz				</li>
							<li>Fernando Lara Rodríguez			</li>
						</ul>
						<ul>
							<li>Cindy Nallely Álvarez Mora 		</li>
							<li>Carlos Daniel González Vázquez	</li>
							<li>Saliha Aguilar Lara 			</li>
							<li>Daniel Mercado Cavazos			</li>
							<li>Alan Adame Peña					</li>
							<li>Gerardo Alvizo Almonte			</li>
						</ul>
						<ul>
							<li>Erika Alonso Montes de Oca		</li>
							<li>Daniel Cabada Lewis				</li>
							<li>Ahnuar Villanueva Gómez			</li>
							<li>Oscar Adolfo Salazar Martínez	</li>
							<li>Angel García de la Cruz			</li>
						</ul>
						<ul>
							<li>Metzery Moctezuma Gámez			</li>
							<li>Karla Leal Cazares				</li>
							<li>Nicolás Suarez del Valle		</li>
							<li>Oscar Oliver Sánchez González	</li>
							<li>Valeria Hernández Mata			</li>
							<li>Romina Marcial Montoya			</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<ul class="nolist f-center">
			<li><a href="#">Aviso de Terminos y Condiciones</a></li>
			<li><a href="#">Tel&eacute;fono: (+52 -81) 1948 - 6763</a></li>
			<li><a href="#">Correo electr&oacute;nico: vitalmed@outlook.es</a></li>
			<li><a href="#">VitalMed es creado por Alcance M&eacute;dico S.A de C.V</a></li>
		</ul>
	</footer>
</body>
</html>
