<!DOCTYPE html>
<html>
<head>
	<title>VitalMed - Home</title>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	
	<!--jQuery-->
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>

	<!--CARROUSEL->
    <link rel="stylesheet" type="text/css" href="/static/libs/jCarousel/style.css"-->
    <link rel="stylesheet" type="text/css" href="/static/libs/jCarousel/jcarousel.basic.css">
    <script type="text/javascript" src="/static/libs/jCarousel/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/static/libs/jCarousel/jcarousel.basic.js"></script>
</head>
<body class="col">
	<header>
		<a href="/" class="logo" ><img src="/static/img/Logo.png"></a>
		<ul class="nolist">
			<li><a href="/">Inicio</a></li>
			<li><a href="/quienes-somos">Quienes Somos</a></li>
			<li><a href="/descubre">Descubre</a></li>
			<li><a href="/contacto">Contacto</a></li>
		</ul>
	</header>
	<div class="container f-around">
		<div class="row">
			<div class="row ">
				<div class="card blue-theme col f-left nmargin side">
					<h3>VitalMed es</h3>
					<h1>GRATIS</h1>
					<div class="col">
						<div class="overBox">
							<p>&iquest;A&uacute;n no tienes una cuenta&quest;</p>
							<input type="button" name="SignIn" value="Registrate aqu&iacute;" onclick="window.location.href = '/signin'">
						</div>
						<div class="col">
							<div>
								<p>&iquest;Ya tienes una cuenta&quest;</p>
								<input type="button" name="login" value="Inicia sesi&oacute;n" onclick="window.location.href = '/login'">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card col nmargin">

				<div class="card t-left">
					<div class="wrapper">
			            <div class="jcarousel-wrapper">
			                <div class="jcarousel">
			                    <ul>
			                        <li><img src="/static/img/img1.png" alt=""></li>
			                        <li><img src="/static/img/img2.png" alt=""></li>
			                        <li><img src="/static/img/img3.png" alt=""></li>
			                    </ul>
			                </div>

			                <p class="photo-credits">
			                    VitalMed
			                </p>

			                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
			                <a href="#" class="jcarousel-control-next">&rsaquo;</a>

			                <p class="jcarousel-pagination">

			                </p>
			            </div>
			        </div>

					<h3>Que es VitaMed</h3>
					<p><b>VitalMed</b> es un servicio para agendar citas médicas en el mejor hospital del país, el Hospital del Norte. Está diseñado para satisfacer las necesidades de los pacientes, ofreciendo un servicio de calidad y confiabilidad total. </p>

					<p>Figuramos entre las aplicaciones médicas de más prestigio en éste país; nos hemos caracterizado por un crecimiento importante en tecnología rápida. Gracias a ésta tecnología de vanguardia, nos distinguimos como una de las mejores aplicaciones en altas especialidades médicas.</p>

					<p>Entonces, olvídate de tus dolores de cabeza y atrévete a usar VitalMed. Nunca más volverás a olvidar una cita médica.</p>
					<h4>A VitalMed lo que más le importa es: TU SALUD.</h4>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<ul class="nolist f-center">
			<li><a href="#">Aviso de Terminos y Condiciones</a></li>
			<li><a href="#">Tel&eacute;fono: (+52 -81) 1948 - 6763</a></li>
			<li><a href="#">Correo electr&oacute;nico: vitalmed@outlook.es</a></li>
			<li><a href="#">VitalMed es creado por Alcance M&eacute;dico S.A de C.V</a></li>
		</ul>
	</footer>
</body>
</html>
