<!DOCTYPE html>
<html>
<head>
	<title>VitalMed - Programar Citas</title>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<!--jQuery-->
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>

	<!--CARROUSEL-->
    <link rel="stylesheet" type="text/css" href="/static/libs/jCarousel/jcarousel.basic.css">
    <script type="text/javascript" src="/static/libs/jCarousel/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/static/libs/jCarousel/jcarousel.basic.js"></script>

    <!--Calendario-->
	<script type="text/javascript" src="/static/Calendario/calendar.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/Calendario/calendar.css">

	<!--DatePicker-->
	<link rel="stylesheet" href="/static/css/smoothness.css">
	<script src="/static/js/jquery-ui.min.js"></script>

	<script type="text/javascript" src="/static/libs/Timer/jquery.timepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/libs/Timer/jquery.timepicker.css">
	<script type="text/javascript" src="/static/js/page_ajax/3_nuevacita.js"></script>

</head>
<body class="col">

	<header class="dash">
		<a href="/" class="logo" ><img src="/static/img/Logo.png"><span class="tag">VitalMed</span></a>
		<ul class="nolist">
      		<!--li><a href="/dashboard">Reportes</a></li-->
			<li><a href="/citas" class="selected">Citas</a></li>
			<li><a href="/traslados">Traslados</a></li>
			<li><a href="/configuracion">Configuraci&oacute;n</a></li>
			<li><a href="/">Cerrar Sesi&oacute;n</a></li>
			<li><a href="/">Ayuda</a></li>
		</ul>
	</header>
	<div class="container f-between">
		<div class="row f-arround 	fill">
			<div class="row ">
				<div class="card dash-theme col f-between nmargin side">
					<div class="col">
						<!--DASHBOARD-->
			            <div class="overBox">
							<p>Reportes</p>
							<div class="row f-even">
								<a href="/dashboard"><img src="/static/img/icons/verRecordatorio.png"></a>
							</div>
			            </div>
						<!--RECORDATORIOS-->
						<div class="overBox">
							<p>Recordatorios</p>
							<div class="row f-even">
								<a href="/recordatorios"><img src="/static/img/icons/verRecordatorio.png"></a>
								<a href="/nueva"><img src="/static/img/icons/agregarRecordatorio.png"></a>
							</div>
						</div>
						<!--TRASLADOS-->
						<div class="overBox">
							<p>Traslados</p>
							<div class="row f-even">
								<a href="/traslados"><img src="/static/img/icons/traslado_ambulancia.png"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col f-center t-center r-margin f3">
				<p>Selecciona el tipo de recordatorio que desea y llene el formulario</p>
				<div class="row f-center autow autoh">
					<div class="receta hide-trigger active">
						<div class="receta-container">
							<img src="/static/img/backs/cita_receta.png" id="imagen1">
							<strong >Receta resurtible</strong>
						</div>
					</div>

					<div class="row">
						<div class="receta hide-trigger">
							<div class="receta-container">
								<img src="/static/img/backs/cita_med.png" id="imagen2">
								<strong>Medicina general</strong>
							</div>
						</div>


						<div class="receta hide-trigger">
							<div class="receta-container">
								<img src="/static/img/backs/cita_spec.png" id="imagen3">
								<strong>Especialidad</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="blue-theme container card autow autoh nmtop" id="hide-card">
					<div class="row f-center">
						<form class="col f-center" id="formCita">
						<input type="hidden" name="tipoCita" value="1" id="tipoSecreto">
							<h3>Receta resurtible</h3>
								<div class="row f-around">
									<div class="col">
										<label for="inp0" class="t-left">Fecha</label>
										<input type="date" id="inp0Receta" name="fecha">
									</div>
									<div class="col f-center">
										<label for="inp1" class="t-left">Hora</label>
										<input type="time" id="inp1Receta" name="">

									</div>
								</div>
							<p>
								<div class="row f-center">
									<div class="col t-center">
										<label for="inp2" >Departamento</label>
										<input type="text" id="inp2" name="departamento"  class="t-center"	value="Farmacia" disabled="disabled"		autocomplete="off">
									</div>
									<div class="col">
										<label for="inp3" >Medico</label>
										<input type="text" id="inp3" name="medico"  class="t-center"	placeholder="*Seleccione consultorio" disabled="disabled"	autocomplete="off">
									</div>
								</div>
								<div>
									<label for="inp4">Consultorio</label>
									<select id="inp4" class="t-center consultSelect">
										<option>Ninguno</option>
									</select>
								</div>
							</p>
								<div class="f-right"><input type="button" name="cita" value="Agendar" id="btnNuevaReceta"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="dash">
		<ul class="nolist f-left">
			<li><a href="#">Tel&eacute;fono: (+52 -81) 1948 - 6763</a></li>
			<li><a href="#">Correo electr&oacute;nico: vitalmed@outlook.es</a></li>
		</ul>
	</footer>
</body>
</html>
