<!DOCTYPE html>
<html>
<head>
	<title>VitalMed - Programar Citas</title>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<!--jQuery-->
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>

	<!--CARROUSEL-->
    <link rel="stylesheet" type="text/css" href="/static/libs/jCarousel/jcarousel.basic.css">
    <script type="text/javascript" src="/static/libs/jCarousel/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/static/libs/jCarousel/jcarousel.basic.js"></script>

    <!--Calendario-->
	<script type="text/javascript" src="/static/Calendario/calendar.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/Calendario/calendar.css">

	<!--DatePicker-->
	<link rel="stylesheet" href="./css/smoothness.css">
	<script src="/static/js/jquery-ui.min.js"></script>

</head>
<body class="col">
	<header class="dash">
		<a href="./Home.html" class="logo" ><img src="/static/img/Logo.png"><span class="tag">VitalMed</span></a>
		<ul class="nolist">
			<li><a href="./VerCitas.html">Programar Citas</a></li>
			<li><a href="./Configuracion.html">Configuraci&oacute;n</a></li>
			<li><a href="./Home.html">Cerrar Sesi&oacute;n</a></li>

			<li><a href="./Home.html">Ayuda</a></li>
		</ul>
	</header>
	<div class="container f-between">
		<div class="row f-arround 	fill">
			<div class="row ">
				<div class="card dash-theme col f-between nmargin side">
					<div class="col">
						<!--RECORDATORIOS-->
						<div class="overBox">
							<p>Recordatorios</p>
							<div class="row f-even">
								<a href="/recordatorios"><img src="/static/img/icons/verRecordatorio.png"></a>
								<a href="/citas"><img src="/static/img/icons/agregarRecordatorio.png"></a>
							</div>
						</div>
						<!--CITAS-->
						<div class="overBox">
							<p>Citas</p>
							<div class="row f-even">
								<a href="/nueva"><img src="/static/img/icons/agregarRecordatorio.png"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col f-center t-center r-margin f3">
				<p>Selecciona el tipo de recordatorio que desea y llene el formulario</p>
				<div class="row f-center autow autoh">
					<div class="receta hide-trigger active">
						<div class="receta-container">
							<img src="/static/img/backs/cita_receta.png">
							<strong >Receta resurtible</strong>
						</div>
					</div>

					<div class="row">
						<div class="receta hide-trigger">
							<div class="receta-container">
								<img src="/static/img/backs/cita_med.png">
								<strong>Medicina general</strong>
							</div>
						</div>


						<div class="receta hide-trigger">
							<div class="receta-container">
								<img src="/static/img/backs/cita_spec.png">
								<strong>Especialidad</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="blue-theme container card autow autoh nmtop" id="hide-card">
					<div class="row f-center">
						<form class="col f-center">
							<h3>Receta resurtible</h3>
								<div class="row f-around">
									<div class="col">
										<label for="inp0" class="t-left">Fecha</label>
										<input type="date" id="inp0" name="">
									</div>
									<div class="col f-center">
										<label for="inp1" class="t-left">Hora</label>
										<input type="time" id="inp1" name="">
									</div>
								</div>
							<p class="">
								<div class="row">
									<div class="col t-center">
										<label for="inp2">Departamento</label>
										<input type="text" id="inp2" name=""  class="t-center"	value="Farmacia" disabled="disabled">
									</div>
									<div class="col">
										<label for="inp3">Medico</label>
										<input type="text" id="inp3" name=""  class="t-center"	placeholder="Por asignarse" disabled="disabled">
									</div>
								</div>
								<label for="inp3">Consultorio</label>
								<select id="inp3" class="t-center">
									<option>Ninguno</option>
								</select>
							</p>
								<div class="f-right"><input type="button" name="" value="Solicitar cita"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="dash">
		<ul class="nolist f-left">
			<li><a href="#">Tel&eacute;fono: (+52 -81) 1948 - 6763</a></li>
			<li><a href="#">Correo electr&oacute;nico: vitalmed@outlook.es</a></li>
		</ul>
	</footer>
</body>
</html>
