<!DOCTYPE html>

<html>

	<head>

		<title></title>
		<link rel="stylesheet" href="/static/css/onboardingstyle.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

		<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/static/js/onboardingjq.js"></script>
		

	</head>

	<body>
		<div class="blackscreen">
			<div class="onpopup">
				<div class="onboard">
					<a href="#" class="enlaceob"><p>
						<img src="/static/img/hospital2.png" height="350"><br>
						<span class="titulo">CITAS RÁPIDAS</span><br>
						<span>Evite largas filas,agende<br>sus citas médicas en VitalMed.<br>Es fácil y rápido.</span>
					</p></a>
				</div>

				<div class="onboard">
					<a href="/recordatorios" class="enlaceob"><p>
						<img src="/static/img/citas.png" height="350"><br>
						<span class="titulo">SERVICIO</span><br>
						<span>No olvide ninguna cita.<br>VitalMed cuenta con sistema<br>de recordatorios para evitar<br>perderlas.</span>
					</p></a>
				</div>

				<div class="onboard">
					<a href="/nueva" class="enlaceob"><p>
						<img src="/static/img/24hrs.png" height="350"><br>
						<span class="titulo">COMODIDAD</span><br>
						<span>No importa la hora, puede<br>agendar su cita cuando guste.<br>VitalMed funciona las 24 horas.</span>
					</p></a>
				</div>
				<div>
					<input type="button" id="omitirs" value="Omitir sugerencias">
				</div>
			</div>
		</div>
	</body>

</html>