<!DOCTYPE html>
<html>
<head>
	<title>VitalMed - Quienes somos</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body class="col">
	<header>
		<a href="/" class="logo" ><img src="/static/img/Logo.png"></a>
		<ul class="nolist">
			<li><a href="/">Inicio</a></li>
			<li><a href="/quienes-somos">Quienes Somos</a></li>
			<li><a href="/descubre">Descubre</a></li>
			<li><a href="/contacto">Contacto</a></li>
		</ul>
	</header>
	<div class="container f-around">
		<div class="row">
			<div class="row ">
				<div class="card blue-theme col f-left nmargin side">
					<h3>VitalMed es</h3>
					<h1>GRATIS</h1>
					<div class="col">
						<div class="overBox">
							<p>&iquest;A&uacute;n no tienes una cuenta&quest;</p>
							<input type="button" name="SignIn" value="Registrate aqu&iacute;" onclick="window.location.href = '/signin'">
						</div>
						<div class="col">
							<div>
								<p>&iquest;Ya tienes una cuenta&quest;</p>
								<input type="button" name="login" value="Inicia sesi&oacute;n" onclick="window.location.href = '/login'">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card col nmargin">
				<div class="card t-left">
					<h3>Que es VitaMed</h3>
					<p>Es una aplicaci&oacute;n creada por AlcanceM&eacute;dico que, en conjunto con Hospital del Norte, ofrece un servicio para agendar citas m&eacute;dicas. Est&aacute; pensada para facilitarle al usuario el hacer una cita en el hospital sin tener que acudir a &eacute;l, ni hacer largas filas, ya que, en la comodidad de su hogar puede accesar a la plataforma, buscar el d&iacute;a y el horario que desee y listo, habr&aacute; agendado su cita con &eacute;xito. </p>

					<p>Adem&aacute;s, VitalMed tiene la funcionalidad de recordarle que tiene una cita m&eacute;dica a la cual acudir con su fecha y hora; autom&aacute;ticamente se crea un recordatorio al agendar una cita. Los usuarios son felices con esto porque ya nunca m&aacute;s olvidan que tienen que ir al m&eacute;dico y llevan un mejor control de su salud. Pero no s&oacute;lo ofrece esto, tambi&eacute;n puede agregar un recordatorio personalizado si su m&eacute;dico de cabecera le ha indicado que debe acudir con alg&uacute;n especialista, o bien, si le ha expedido una receta resurtible. Esto con la finalidad de que no se le olvide absolutamente ninguna cita m&eacute;dica y tenga un mejor control de su salud.</p>

					<h3>Misi&oacute;n</h3>
					<p>Ser una empresa l&iacute;der especializada en software, buscando lograr el desarrollo de aplicaciones inform&aacute;ticas de alta calidad, incursionando en nuevos mercados y trabajando exclusivamente para la satisfacci&oacute;n del usuario.</p>

					<h3>Visi&oacute;n</h3>
					<p>Ser la compañ&iacute;a preferida por nuestra innovaci&oacute;n, soluciones, productos y servicios. Ser reconocida por la calidad y nuestra contribuci&oacute;n a la comunidad.</p>

					<h3>Valores</h3>
					<ul>
						<li>Compromiso 	</li>
						<li>Lealtad		</li>
						<li>Honestidad	</li>
						<li>Aprendizaje	</li>
						<li>Colaboraci&oacute;n</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
	<footer>
		<ul class="nolist f-center">
			<li><a href="#">Aviso de Terminos y Condiciones</a></li>
			<li><a href="#">Tel&eacute;fono: (+52 -81) 1948 - 6763</a></li>
			<li><a href="#">Correo electr&oacute;nico: vitalmed@outlook.es</a></li>
			<li><a href="#">VitalMed es creado por Alcance M&eacute;dico S.A de C.V</a></li>
		</ul>
	</footer>
</body>
</html>
