<!DOCTYPE html>
<html>
<head>
	<title>VitalMed - SignIn</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body class="col">
	<header>
		<a href="./Home.html" class="logo" ><img src="/static/css/Logo.png"></a>
		<ul class="nolist">
			<li><a href="./Home.html">Inicio</a></li>
			<li><a href="./QuienesSomos.html">Quienes Somos</a></li>
			<li><a href="./Descubre.html">Descubre</a></li>
			<li><a href="./Contacto.html">Contacto</a></li>
		</ul>
	</header>
	<div class="container f-center">
		<!--form-->
			<div class="card blue-theme col">
				<h3>Crear cuenta</h3>
				<p>Estas a punto de conseguir tu propia cuenta,
				<br>pero antes; ocupamos unos datos.</p>
				<div class="col">
					<div class="row">
						<div class="col">
							<h4>Correo electr&oacute;nico</h4>
							<input type="email" name="Mail"  placeholder="Email">
						</div>
						<div class="col">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<h4>Contrase&ntilde;a</h4>
							<input type="password" name="Pass" placeholder="Contrase&ntilde;a">
						</div>
						<div class="col">
							<h4>Confirma tu contrase&ntilde;a</h4>
							<input type="password" name="Pass2" placeholder="Contrase&ntilde;a">
						</div>
					</div>
					<h4>&nbsp;</h4>
					<div class="col">
						<div class="col">
							<h4>Nombre(s)</h4>
							<input type="text" name="Nom"  placeholder="Nombre(s)">
						</div>
						<div class="col">
							<h4>Apellidos</h4>
							<div class="row">
								<div class="col">
									<input type="text" name="aPat" placeholder="Apellido Paterno">
								</div>
								<div class="col">
									<input type="text" name="aMat" placeholder="Apellido Materno">
								</div>
							</div>
						</div>
					</div>
				</div>
				<h4>&nbsp;</h4>
				<div class="row f-between">
					<a href="#">&iquest;Ya estas registrado&quest;</a>
					<input id="signInBtn" type="button" name="submit" value="Iniciar Sesi&oacute;n">
				</div>
			</div>
		<!--/form-->
	</div>
	<footer>
		<ul class="nolist f-center">
			<li><a href="#">Aviso de Terminos y Condiciones</a></li>
			<li><a href="#">Tel&eacute;fono: (+52 -81) 1948 - 6763</a></li>
			<li><a href="#">Correo electr&oacute;nico: vitalmed@outlook.es</a></li>
			<li><a href="#">VitalMed es creado por Alcance M&eacute;dico S.A de C.V</a></li>
		</ul>
	</footer>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>

</body>
</html>
