<!DOCTYPE html>
<html>
<head>
	<title>VitalMed - Solicitud de traslados</title>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<!--jQuery-->
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
  	<script type="text/javascript" src="/static/js/script.js"></script>

	<!--CARROUSEL->
    <link rel="stylesheet" type="text/css" href="/static/libs/jCarousel/style.css"-->
    <link rel="stylesheet" type="text/css" href="/static/libs/jCarousel/jcarousel.basic.css">
    <script type="text/javascript" src="/static/libs/jCarousel/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/static/libs/jCarousel/jcarousel.basic.js"></script>

    <!--Calendario-->
	<script type="text/javascript" src="/static/Calendario/calendar.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/Calendario/calendar.css">
	<script type="text/javascript" src="/static/libs/Timer/jquery.timepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/libs/Timer/jquery.timepicker.css">

	<!--APP-->
	<script type="text/javascript" src="/static/js/webapp.js"></script>
	<script type="text/javascript" src="/static/js/page_ajax/1_citas.js"></script>

</head>

<body class="col">
	<!--POPUPS-->
		<!--CONFIRMACION DE CITA-->
		<div class="popup col" id="confirmarCita">
			<h3 class="t-center">Resumen de tu cita</h3>
			<div class="row">
				<label>Fecha y hora</label>
				<input class="row4" type="text" name="fecha" value="12-Nov-2017" disabled="disabled">
				<input id="hora" type="time"  name="">
			</div>
			<div class="row">
				<label>Doctor</label>
				<input type="text" name="doctor" value="Simi" disabled="disabled">
			</div>
			<div class="row">
				<label>Consultorio</label>
				<input type="text" name="consultorio" value="B-34" disabled="disabled">
			</div>
			<div class="row">
				<label>Numero de cita</label>
				<input type="text" name="numCita" value="02284" disabled="disabled">
			</div>
			<div class="row f-around fill">
				<input type="button" name="cancel" value="Cancelar">
				<input type="button" name="submit" value="Confirmar">
			</div>
		</div>
		<!--ONBOARDING-->

	<header class="dash">
		<a href="/" class="logo" ><img src="/static/img/Logo.png"><span class="tag">VitalMed</span></a>
		<ul class="nolist">
      		<!--li><a href="/dashboard">Reportes</a></li-->
			<li><a href="/citas" class="selected">Citas</a></li>
			<li><a href="/traslados">Traslados</a></li>
			<li><a href="/configuracion">Configuraci&oacute;n</a></li>
			<li><a href="/">Cerrar Sesi&oacute;n</a></li>
			<li><a href="/">Ayuda</a></li>
		</ul>
	</header>
	<div class="container f-between">
		<div class="row fill">
			<div class="row ">
				<div class="card dash-theme col f-between nmargin side">
					<div class="col">
						<!--DASHBOARD-->
			            <div class="overBox">
							<p>Reportes</p>
							<div class="row f-even">
								<a href="/dashboard"><img src="/static/img/icons/verRecordatorio.png"></a>
							</div>
			            </div>
						<!--RECORDATORIOS-->
						<div class="overBox">
							<p>Recordatorios</p>
							<div class="row f-even">
								<a href="/recordatorios"><img src="/static/img/icons/verRecordatorio.png"></a>
								<a href="/nueva"><img src="/static/img/icons/agregarRecordatorio.png"></a>
							</div>
						</div>
						<!--CITAS-->
						<!--div class="overBox">
							<p>Citas</p>
							<div class="row f-even">
								<a href="/citas"><img src="/static/img/icons/agregarRecordatorio.png"></a>
							</div>
						</div-->
						<!--HORARIOS-->
						<!--div class="overBox">
							<p>Horarios disponibles</p>
							<div class="col">
								<div class="container f-center">
									<a> No tienes citas disponibles</a>
								</div>
							</div>
						</div-->
					</div>
				</div>
			</div>
			<div class="row f-even fill card r-margin">

				<div class="f-center">
					<div class="wrapper">
						<p><h3>Solicitud de traslados</h3></p>
			            <div class="calendar" id="cita_disponible">
			            </div>
			        </div>

				</div>
			</div>
		</div>
	</div>
	<footer class="dash">
		<ul class="nolist f-left">
			<li><a href="#">Tel&eacute;fono: (+52 -81) 1948 - 6763</a></li>
			<li><a href="#">Correo electr&oacute;nico: vitalmed@outlook.es</a></li>
		</ul>
	</footer>
</body>
</html>
